<script setup>



</script>

<template>
  
  <div class="row bg-image bk-img">

    <div class="col-md-8 d-flex flex-column justify-content-center align-items-center animate__heartBeat">

      <h1>Cherit</h1>
      <h2>Din pasiune pentru oameni și gătit!</h2>

      <a @click="$pagina='meniu'" class="btn btn-dark">Meniu</a>

    </div>

    <div class="col-4 d-flex justify-content-center align-self-center d-none d-md-block">
      <div class="me-4">
        <img src="src/imagini/aluat.jpg" class="img-fluid">
      </div>
    </div>

  </div>

  <div class="row d-flex bg-image bk-img2">
    <div class="col-8 justify-content-center align-items-center ms-5 mt-5 mb-5">

    <div id="map-container-google-1" class="z-depth-1-half map-container" style="height:0">
        <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
          style="border:0" allowfullscreen></iframe>
    </div>

    </div>

    <span class="border border-dark"></span>

  </div>

  <div class="row">
    <div class="col-5 align-items-center ms-3 mt-4">
      <h5>Contact: 0712345678</h5>
    </div>
    <div class="col-xs col-md-6 d-flex justify-content-end">
      <i class="bi bi-instagram"><br>Instagram&nbsp;&nbsp;    </i>
      <i class="bi bi-facebook"><br>Facebook&nbsp;&nbsp;   </i>
      <i class="bi bi-envelope-at"><br>Email&nbsp;&nbsp;   </i>
    </div>
  </div>

  <div class="row">
    <div class="col d-flex justify-content-center align-items-center">
      <p>Copyright © Your Website 2022</p>
    </div>
  </div>
  
</template>

<style scoped>

</style>
