<script setup>


</script>

<template>

    <div class="row my-4">
        <div class="col">
            <h2>Total: 100lei </h2>
        </div>
    </div>

    <div class="row my-4">
        <div class="col col-md-2 d-flex justify-content-center ">
            <a  @click="$pagina='finalizeaza comanda'"><button type="button" class="btn btn-dark">Finalizează&nbsp;comanda</button></a>
        </div>
    </div>

    <div class="row">
        <div class="col col-xl-8">
            <div class="container-fluid">
                <div class="row d-flex flex-row mb-4">
                    <img  src="src/imagini/pizza-meniu.jpg" class="rounded col col-sm-6 col-md-4" style="height: 20vh; width: auto;">
                    <div class="col col-sm-6 col-md-4 d-flex flex-column">
                        <h5>Pizza primavera</h5>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi tempore reiciendis sapiente placeat nam consectetur velit consequuntur.</p>
                        <h4>Preț: 30lei</h4>
                    </div>
                    <div class="col col-sm-6 col-md-4 d-flex">
                        <h5>Cantitate: 1&nbsp;&nbsp;</h5>
                        <i class="bi bi-plus-circle-fill">&nbsp;&nbsp;&nbsp;</i>
                        <i class="bi bi-dash-circle-fill"></i>
                    </div>
                </div>
                
                <div class="row d-flex flex-row mb-4">
                    <img  src="src/imagini/paste-meniu.jfif" class="rounded col col-sm-6 col-md-4" style="height: 20vh; width: auto;">
                    <div class="col col-sm-6 col-md-4 d-flex flex-column">
                        <h5>Paste carbonara</h5>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi tempore reiciendis sapiente placeat nam consectetur velit consequuntur.</p>
                        <h4>Preț: 30lei</h4>
                    </div>
                    <div class="col col-sm-6 col-md-4 d-flex">
                        <h5>Cantitate: 1&nbsp;&nbsp;</h5>
                        <i class="bi bi-plus-circle-fill">&nbsp;&nbsp;&nbsp;</i>
                        <i class="bi bi-dash-circle-fill"></i>
                    </div>
                </div>

                <div class="row d-flex flex-row mb-4">
                    <img  src="src/imagini/deserturi-meniu.jpg" class="rounded col col-sm-6 col-md-4" style="height: 20vh; width: auto;">
                    <div class="col col-sm-6 col-md-4 d-flex flex-column">
                        <h5>Tort frisca</h5>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi tempore reiciendis sapiente placeat nam consectetur velit consequuntur.</p>
                        <h4>Preț: 30lei</h4>
                    </div>
                    <div class="col col-sm-6 col-md-4 d-flex">
                        <h5>Cantitate: 1&nbsp;&nbsp;</h5>
                        <i class="bi bi-plus-circle-fill">&nbsp;&nbsp;&nbsp;</i>
                        <i class="bi bi-dash-circle-fill"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-4">
        <div class="col col-md-2 d-flex justify-content-center ">
            <a @click="$pagina='finalizeaza comanda'"><button type="button" class="btn btn-dark">Finalizează&nbsp;comanda</button></a>
        </div>
    </div>

</template>

<style scoped>

</style>