<script setup>



</script>

<template>
  
<div class="row">
    <div class="col col-xl-2 d-flex justify-content-center mb-4 mt-2">
        <h1>Despre&nbsp;noi</h1>
    </div>
</div>

<div class="row d-flex justify-content-center my-4">
    <div class="col-10 col-xl-5">
        <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/watch?v=xPPLbEFbCAo&ab_channel=Biteable" title="YouTube video" allowfullscreen></iframe>
        </div>
    </div>

    <div class="col-12 col-xl-7 d-flex flex-column my-4">
        <h3 class="d-flex ms-4">Viziunea noastră</h3>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel nostrum minus esse deserunt, ipsum, commodi, pariatur asperiores nemo blanditiis adipisci quos ea quibusdam possimus eius. Error asperiores delectus repellat accusamus?
        </p>

        <h3 class="d-flex ms-4 mt-4">Puțină istorie</h3>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit sapiente sit eligendi, magnam laborum omnis eius aliquam officiis quasi fugiat maiores laudantium ea impedit vitae enim, excepturi amet, illum illo.
        </p>
    </div>
</div>
  
</template>

<style scoped>

</style>
