<script setup>


</script>

<template>

    <div class="row">
        <div class="col col-xl-6 d-flex justify-content-center mb-4 mt-2">
            <div class="container fluid">
                <div class="row">
                    <div class="col d-flex justify-content-center mt-2">
                        <h2>Finalizeaza&nbsp;comanda</h2>
                    </div>
                </div>
                <div class="row d-flex flex-column">
                    <div class="col d-flex justify-content-center mt-2">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput"
                                placeholder="name">
                            <label for="floatingInput">Nume...</label>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-center mt-2">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput"
                                placeholder="prenume">
                            <label for="floatingInput">Prenume...</label>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-center mt-2">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput"
                                placeholder="numar de telefon">
                            <label for="floatingInput">Numar de telefon...</label>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-center mt-2">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput"
                                placeholder="email">
                            <label for="floatingInput">Email...</label>
                        </div>
                    </div>
                    <div class="col d-flex justify-content-center mt-2">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput"
                                placeholder="Adresa">
                            <label for="floatingInput">Adresa...</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col d-flex justify-content-center mt-2">
                        <h4>Metoda de plată</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Cu cardul</label>
                            <br>
                            <br>
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Cash la livrare</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col d-flex justify-content-center mt-2">
                        <a @click="$pagina='finalizeaza comanda'"><button type="button" class="btn btn-dark">Plasează&nbsp;comanda</button></a>
                    </div>
                </div>

            </div>
        </div>
        
        <div class="col col-xl-6 d-none d-xl-block d-flex justify-content-start">
            <div class="col d-flex justify-content-center mb-4 mt-2 me-4">
                <img class="img-fluid" src="src/imagini/mancare.jfif" style="height: 80vh; background-size: cover; position: relative; background-position: center;">
            </div>
        </div>
    </div>

</template>

<style scoped>

</style>
