<script setup>

</script>

<template>

<div class="row">
    <div class="col col-xl-2 d-flex justify-content-center mb-4 mt-2">
        <h1>Meniu</h1>
    </div>
</div>

<div class="row d-flex justify-content-center">
    <div class="col-6 col-xl-4 d-flex flex-column">
        <a class="d-flex justify-content-center" @click="pagina='pizza'">
            <img class="img-fluid rounded-circle border border-3 border-dark" src="src/imagini/pizza-meniu.jpg"
                style="width: 18rem;">
        </a>
        <h3 class="d-flex justify-content-center">Pizza</h3>
    </div>

    <div class="col-6 col-xl-4 d-flex flex-column">
        <a class="d-flex justify-content-center" @click="pagina='paste'">
            <img class="img-fluid rounded-circle border border-3 border-dark" src="src/imagini/paste-meniu.jfif"
                style="width: 18rem;">
        </a>
        <h3 class="d-flex justify-content-center">Paste</h3>
    </div>

    <div class="col-6 col-xl-4 d-flex flex-column">
        <a class="d-flex justify-content-center" @click="pagina='kebab'">
            <img class="img-fluid rounded-circle border border-3 border-dark" src="src/imagini/kebab-meniu.jpg"
                style="width: 18rem;">
        </a>
        <h3 class="d-flex justify-content-center">Kebab</h3>
    </div>

    <div class="col-6 col-xl-4 d-flex flex-column">
        <a class="d-flex justify-content-center" @click="pagina='fel principal'">
            <img class="img-fluid rounded-circle border border-3 border-dark"
                src="src/imagini/fel-principal-meniu.jfif" style="width: 18rem;">
        </a>
        <h3 class="d-flex justify-content-center">Fel principal</h3>
    </div>

    <div class="col-6 col-xl-4 d-flex flex-column">
        <a class="d-flex justify-content-center" @click="pagina='garnituri'">
            <img class="img-fluid rounded-circle border border-3 border-dark" src="src/imagini/garnituri-meniu.jpg"
                style="width: 18rem;">
        </a>
        <h3 class="d-flex justify-content-center">Garnituri</h3>
    </div>

    <div class="col-6 col-xl-4 d-flex flex-column mb-5">
        <a class="d-flex justify-content-center" @click="pagina='deserturi'">
            <img class="img-fluid rounded-circle border border-3 border-dark" src="src/imagini/deserturi-meniu.jpg"
                style="width: 18rem;">
        </a>
        <h3 class="d-flex justify-content-center">Deserturi</h3>
    </div>
</div>

</template>

<style scoped>

</style>

