<script setup>


</script>

<template>
    <div class="row">
        <div class="col col-xl-2 d-flex justify-content-center mb-4 mt-2">
            <h1>Pizza</h1>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-6 col-xl-4 d-flex flex-column">
                
                <div class="container-fluid">
                    <div class="row  d-flex flex-column mb-4">
                        <div class="col col-sm-6 col-md-4 d-flex">
                            <img  src="src/imagini/pizza-meniu.jpg" class="rounded col col-sm-6 col-md-4 me-2" style="height: auto; width: 25vh;">
                        </div>
                        <div class="col col-sm-6 col-md-4 d-flex flex-column">
                            <h5>Pizza primavera</h5>
                            <a @click="$pagina='finalizeaza comanda'"><button type="button" class="btn btn-dark">Adaugă&nbsp;în&nbsp;coș</button></a>
                        </div>
                    </div>
                </div>

        </div>

        <div class="col-6 col-xl-4 d-flex flex-column">
            <div class="container-fluid">
                <div class="row  d-flex flex-column mb-4">
                    <div class="col col-sm-6 col-md-4 d-flex">
                        <img  src="src/imagini/pizza-meniu.jpg" class="rounded col col-sm-6 col-md-4 me-2" style="height: auto; width: 25vh;">
                    </div>
                    <div class="col col-sm-6 col-md-4 d-flex flex-column">
                        <h5>Pizza primavera</h5>
                        <a @click="$pagina='finalizeaza comanda'"><button type="button" class="btn btn-dark">Adaugă&nbsp;în&nbsp;coș</button></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 col-xl-4 d-flex flex-column">
            <div class="container-fluid">
                <div class="row  d-flex flex-column mb-4">
                    <div class="col col-sm-6 col-md-4 d-flex">
                        <img  src="src/imagini/pizza-meniu.jpg" class="rounded col col-sm-6 col-md-4 me-2" style="height: auto; width: 25vh;">
                    </div>
                    <div class="col col-sm-6 col-md-4 d-flex flex-column">
                        <h5>Pizza primavera</h5>
                        <a @click="$pagina='finalizeaza comanda'"><button type="button" class="btn btn-dark">Adaugă&nbsp;în&nbsp;coș</button></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 col-xl-4 d-flex flex-column">
            <div class="container-fluid">
                <div class="row  d-flex flex-column mb-4">
                    <div class="col col-sm-6 col-md-4 d-flex">
                        <img  src="src/imagini/pizza-meniu.jpg" class="rounded col col-sm-6 col-md-4 me-2" style="height: auto; width: 25vh;">
                    </div>
                    <div class="col col-sm-6 col-md-4 d-flex flex-column">
                        <h5>Pizza primavera</h5>
                        <a @click="$pagina='finalizeaza comanda'"><button type="button" class="btn btn-dark">Adaugă&nbsp;în&nbsp;coș</button></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 col-xl-4 d-flex flex-column">
            <div class="container-fluid">
                <div class="row  d-flex flex-column mb-4">
                    <div class="col col-sm-6 col-md-4 d-flex">
                        <img  src="src/imagini/pizza-meniu.jpg" class="rounded col col-sm-6 col-md-4 me-2" style="height: auto; width: 25vh;">
                    </div>
                    <div class="col col-sm-6 col-md-4 d-flex flex-column">
                        <h5>Pizza primavera</h5>
                        <a @click="$pagina='finalizeaza comanda'"><button type="button" class="btn btn-dark">Adaugă&nbsp;în&nbsp;coș</button></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 col-xl-4 d-flex flex-column mb-5">
            <div class="container-fluid">
                <div class="row  d-flex flex-column mb-4">
                    <div class="col col-sm-6 col-md-4 d-flex">
                        <img  src="src/imagini/pizza-meniu.jpg" class="rounded col col-sm-6 col-md-4 me-2" style="height: auto; width: 25vh;">
                    </div>
                    <div class="col col-sm-6 col-md-4 d-flex flex-column">
                        <h5>Pizza primavera</h5>
                        <a @click="$pagina='finalizeaza comanda'"><button type="button" class="btn btn-dark">Adaugă&nbsp;în&nbsp;coș</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<style scoped>

</style>