<script setup>
import Acasa from './components/Acasa.vue'
import Meniu from './components/Meniu.vue'
import DespreNoi from './components/DespreNoi.vue'
import CosProduse from './components/CosProduse.vue'
import Pizza from './components/Pizza.vue'
import Paste from './components/Paste.vue'
import Kebab from './components/Kebab.vue'
import Deserturi from './components/Deserturi.vue'
import FelPrincipal from './components/FelPrincipal.vue'
import Garnituri from './components/Garnituri.vue'
import FinalizeazaComanda from './components/FinalizeazaComanda.vue'

import '../node_modules/bootstrap/dist/js/bootstrap.js'

import {ref} from "vue"

const pagina = ref('acasa');

</script>

<template>

  <div class="container-fluid">

    <div class="row ms-1">
        <nav class="navbar navbar-expand-md bg-light">
            <div class="container-fluid">
                <div class="row">

                    <div class="col d-md-none">
                        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                            <div class="offcanvas-header">
                              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Cherit</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                                <li class="nav-item">
                                  <a @click="pagina='meniu'" class="nav-link active" aria-current="page">Meniu</a>
                                </li>
                                <li class="nav-item">
                                  <a @click="pagina='despre noi'" class="nav-link active" aria-current="page">Despre&nbsp;noi</a>
                                </li>
                                <li class="nav-item">
                                  <a @click="pagina='asambleaza un produs'" class="nav-link active" aria-current="page">Asamblează&nbsp;un&nbsp;produs</a>
                                </li>
                                <li class="nav-item">
                                  <a @click="pagina='cos produse'" class="nav-link active" aria-current="page">Cos&nbsp;produse</a>
                                </li>
                              </ul>
                            </div>
                        </div>

                    </div>

                    <div class="col align-self-center">
                        <a @click="pagina='acasa'"><img src="src/imagini/logo.jpg" class="img-fluid" style="width:3rem;"></a>
                    </div>

                    <div class="col align-self-center">
                        <a @click="pagina='meniu'" class="navbar-brand" >Meniu</a>
                    </div>
            
                    <div class="col">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a @click="pagina='despre noi'" class="nav-link active" aria-current="page" >Despre&nbsp;noi</a>
                            </li>
                            <li class="nav-item">
                                <a @click="pagina='asambleaza un produs'" class="nav-link active" aria-current="page" >Asamblează&nbsp;un&nbsp;produs</a>
                            </li>
                            <li class="nav-item">
                                <a @click="pagina='cos produse'" class="nav-link active" aria-current="page" >Cos&nbsp;produse</a>
                            </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
      </div>

      <Acasa v-if="pagina=='acasa'" />
      <Meniu v-if="pagina=='meniu'" />
      <DespreNoi v-if="pagina=='despre noi'"/>
      <CosProduse v-if="pagina=='cos produse'"/>
      <Pizza v-if="pagina=='pizza'"/>
      <Paste v-if="pagina=='paste'"/>
      <Kebab v-if="pagina=='kebab'"/>
      <Deserturi v-if="pagina=='deserturi'"/>
      <FelPrincipal v-if="pagina=='fel principal'"/>
      <Garnituri v-if="pagina=='garnituri'"/>
      <FinalizeazaComanda v-if="pagina=='finalizeaza comanda'"/>

  </div>

  
</template>

<style>

@import "../css/base.css";

@import "bootstrap-icons/font/bootstrap-icons.css";
@import "animate.css/animate.css";
</style>
