.bk-img{
    background-image: url('src/imagini/poza-restaurant.jpg');
    height: 70vh;
    background-size: cover;
    position: relative;
    background-position: center;
}

.bk-img2{
    background-color: rgb(170, 170, 170);
}

.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
  .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}